body {
    background-color:
     rgb(255,203,154)
}
a:link {
  text-decoration: none;
}

div, ul, a {
  font-family: Helvetica;
  font-size: 50px;
  color: rgb(105,137,173);
  text-align: center;
  }