body {
    background-color:
	rgb(224,100,76);
}
p {
		unicode-bidi:bidi-override;
		direction:rtl;
}

p {
	transform: rotate(20deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: rgb(194,237,177);
	animation-name: color;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div2 {
	transform: rotate(-300deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 300px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div3 {
	transform: rotate(60deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 70px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div4 {
	transform: rotate(-45deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div5 {
	transform: rotate(-60deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 33px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div6 {
	transform: rotate(-1110deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 700px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div7 {
	transform: rotate(222deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 99px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div8 {
	transform: rotate(-12deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 43px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div9 {
	transform: rotate(90deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 77px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 9s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div10 {
	transform: rotate(180deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 456px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div11 {
	transform: rotate(-2deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 51px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 11s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div12 {
	transform: rotate(301deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 444px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 12s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div13 {
	transform: rotate(200deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 70px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 13s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div14 {
	transform: rotate(-22deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 36px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 14s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div15 {
	transform: rotate(86deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 122px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div16 {
	transform: rotate(116deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 877px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 16s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div17 {
	transform: rotate(-77deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 233px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 17s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
  #div18 {
	transform: rotate(269deg);
	font-family: 'Avenir';
	opacity: 25%;
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 269px;
	color: rgb(203,110,99);
	animation-name: color;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 18s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  @keyframes color {
	0%   {color:rgb(245,83,38); left:0px; top:0px;}
	25%  {color:rgb(254,221,0); left:200px; top:0px;}
	50%  {color:rgb(68,138,244); left:200px; top:200px;}
	75%  {color:rgb(149,232,113); left:0px; top:200px;}
	100% {color:rgb(245,83,38); left:0px; top:0px;}
  }
  @font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }