body {
  background-image:
  conic-gradient(rgb(218, 250, 39), rgb(229, 248, 93), rgb(238, 245, 131), rgb(246, 243, 164), rgb(252, 240, 197));
}
p, ul {
font-family: Helvetica;
font-size: 50px;
background: linear-gradient(rgb(247, 239, 204), rgb(250, 230, 174), rgb(251, 222, 144), rgb(251, 213, 114), rgb(250, 205, 81));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
text-align: center;
}
h2 {
  font-family: 'Franklin Gothic Medium';
  font-size: 50px;
  background: linear-gradient(rgb(247, 239, 204), rgb(250, 230, 174), rgb(251, 222, 144), rgb(251, 213, 114), rgb(250, 205, 81));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-align: center;
  }