
element.style {
  font-size: 66.87%;
}
:root {
  --following-width: -400px;
  --following-animation-duration: 450ms;
}
html {
  touch-action: manipulation;
  position: relative;
  background-color: #fff;
}
body, html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html[Attributes Style] {
 -webkit-locale: "en";
}
html {
  display: block;
}